{% extends "base.html" %}

{% load abbreviations humanize markup %}

{% block title %}{{ run.name }}{% endblock %}

{% block content %}
  <h2>{{ activity.type.value|title }}</h2>
  <h1>{{ activity.name }}</h1>
  <div>
    <p>Distance: {{ activity.distance|metric:"m"|nbsp }}</p>
    <p>Moving Time: {{ activity.moving_time|precisedelta|shorten_time|nbsp }}</p>
    <p>Total Time: {{ activity.elapsed_time|precisedelta|shorten_time|nbsp }}</p>
    <p>Triathlon %: {{ activity.triathlon_percentage|default:0 }}%</p>
  </div>
  <img src="{% url 'strava:activity_svg' activity.id %}" class="mx-auto max-w-full" />
  <p>{{ activity.description|default:"No description available." }}</p>
{% endblock content %}
